<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<div #greeting id="greeting"><span class="flash"></span>{{greetingText}}<span class="flash">{{flash}}</span></div>
<mat-card>
    <mat-card-title>
        About me
    </mat-card-title>
    <mat-card-content>
        <p>I'm an independent Programmist, Video Editor and Graphic Designer.</p>
        <p>I'm just starting my career, to which I prepared for a long time.
        I've been programming for 11 years as of now, Graphic Designing for 4 years, and Video Editing for 3 years.</p>
        <p>As of now, all projects I've done are private, non-public projects, so I don't have much to show for myself, but I'm hoping to bring some light on my skillset by making this website.{{flash}}</p>
    </mat-card-content>
    <mat-card-footer>
        
    </mat-card-footer>
</mat-card>